footer{
    background-color: var(--color-primary);
    color: var(--link-color-menu, #fff);
    padding: 66px 40px;
    text-align: center;
    
}
a {
    color: var(--link-color-menu, #fff);
    /* text-decoration: none; */
}