footer{
    /* background-color: var(--color-primary);
    color: var(--link-color-menu, #fff); */
    padding: 1rem;
    text-align: center;
    border-top: 2px solid var(--color-primary);    
}
footer ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
footer li a {
    color:  #000000;
}
.side-border{
    border-left: 2px solid;
    height: 1rem;
    color: var(--color-primary);
}
footer p{
    text-align: left;
    font-size: 80%;
    line-height: 1em;
}
@media screen and (max-width: 900px) {
    footer ul{
        flex-direction: column;
        margin-left: 0;
    }
    .side-border{
        border-left: none;
    }
}