.heroImage{
    height:80vh;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    object-fit: cover;
    object-position: center 10%;
}
.siteLogo{
    z-index: 1;
    margin-left: calc(50vw - 479px/2);
    top:30vh;

    /* position: absolute;
    z-index: 1;
    bottom: 0; */
}
.header-main{
    height: 80vh;
    background: #2F4268;
}
.header-secondary{
    background-color: var(--color-primary);
}
.header-secondary .siteLogo{
    margin-left: 10px;
    margin-bottom: -2rem;
    top: 0;
    position: relative;
}
.topnav {
    /* background-color: var(--color-primary); */
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
  }